/* Write your code here: */
h1, h2 {
    color: blueviolet;
}

.box > p {
    color: firebrick;
}

.box li {
    color: blue;
}

.box li.done {
    color: seagreen;
}

/* Стараться использовать метод "предок-потомок", так как он дает больше возможностей */
ul p.done {
    font-size: 0.5rem;
}

/* ul > p.done {
    font-size: 0.5rem;
} */